# fly.toml app configuration file generated for musician-tools on 2025-12-31T15:52:51Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'musician-tools'
primary_region = 'cdg'

[mounts]
  source = "logs"
  destination = "/app/logs"


[build]
  dockerfile = "both.Dockerfile"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024